.footer {
    background-color: #0078d4;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  
  .contato,
  .ajuda,
  .newsletter {
     width: calc(33% - .5rem);
  }